<form align="center" role="form" id='loginID'>
		<div class="container">
			<h5>Login Form</h5>
			<div class="form-group">
				<label for="userName" class="col-lg-2 control-label">user Name :</label> 
				<input type="text" id="userName" name="userName"> 
				<span class="help-block hidden  name"></span>
			</div>
			
			<div class="form-group">
				<label for="userPwd" class="col-lg-2 control-label">user Pwd :</label> 
				<input type="password" id="userPwd" name="userPwd"> 
				<span class="help-block hidden  pwd"></span>

			</div>
			<button id="login">Login</button>
			<div class="successdiv">
			
			
			</div>

		</div>
</form>
