<form align="center" role="form" id='regID'>
		<div class="container">

			<h5>Register Form</h5>
			<div class="form-group">
				<label for="userName" class="col-lg-2 control-label">user Name :</label> 
				<input type="text" id="userName" name="userName"> 
				<span class="help-block hidden  name"></span>
			</div>

			<div class="form-group">
				<label for="userEmail" class="col-lg-2 control-label">user Email :</label> 
				<input type="text" id="userEmail" name="userEmail">
				<span class="help-block hidden  email"></span>
			</div>
			
			<div class="form-group">
				<label for="userPwd" class="col-lg-2 control-label">user Pwd :</label> 
				<input type="password" id="userPwd" name="userPwd"> 
				<span class="help-block hidden  pwd"></span>

			</div>
			<button id="button">Register</button>
			<div class="successdiv">
			
			
			</div>

		</div>
</form>
