

<div id="someElement">
<script id="rowTemplate">
<table class="table" id="myTable" border="1">

      <tr>
                <th>UserNAME</th>
                <th>UserPwd</th>
                <th>UserEmail</th>
                
      </tr>
      <tbody>
      <% _.each(data, function(value,index){ %>
	   <tr>
	        <td ><%= value.userName %></td>
	        <td ><%= value.userPwd %></td>
	        <td ><%= value.userEmail %></td>
	        
	  </tr>
	 <% }); %>
	 </tbody>
</table>
</script>
</div>






