<!DOCTYPE html>
<html>
<head>

<script src ="./lib/jquery.min.js"></script>
<script src ="./lib/underscore.js" type ="text/javascript"></script>
<script src ="./lib/backbone.js" type ="text/javascript"></script>

<script src ="./lib/backbone-validation.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="./lib/require.js"></script>

<script type="text/javascript" src="./js/app.js"></script>
<script type="text/javascript" src="./js/router.js"></script>
</head>

<body>
<div class="container">


<div id="someElement">
<nav class="navbar navbar-expand-sm bg-primary text-color-white navbar-dark justify-content-center">
  
  <ul class="navbar-nav">
    <li class="nav-item">
     <input id="login" type="button" class="btn btn-success" value="Login"/>
    </li>
    <li class="nav-item">
     <input id="register" type="button" class="btn btn-success" value="register"/>
    </li>
    <li class="nav-item">
      <input id="userdata" type="button" class="btn btn-success" value="userdata"/>
      
    </li>
  </ul>
</nav>
</div>

</div>


<script id="rowTemplate">
<table class="table" id="myTable" border="1">
	<thead>
      <tr>
                <th>UserNAME</th>
                <th>UserPwd</th>
                <th>UserEmail</th>
                
      </tr>
      </thead>
      <tbody>
      <% _.each(data, function(value,index){ %>
	   <tr>
	        <td ><%= value.userName %></td>
	        <td ><%= value.userPwd %></td>
	        <td ><%= value.userEmail %></td>
	        
	  </tr>
	 <% }); %>
	 </tbody>
</table>
</script>


</body>
</html>